testdata
data

*.midi
*.MID
*.pickle
*__pycache__
*.idea
font.sf2
cos_sim.csv
cos_sim1.csv
cos_sim_tra.csv
cos_sim_tra1.csv

bin/
bin_conventional/
bin_original/
bin_proposed/
bin_proposed1/
dataset/
result/
model/
logs/
logs_only_b_loss/
logs_ushiro_ikaryaku/
logs_ushiro_nomask/
logs_zentai_loss/
.dfc/